<section class="sectionprojects">
  <div class="row">
		<div class="col-md-5 mx-auto">
			<div id="first">
				<div class=" myform myform-edit form ">
					<div class="logo mb-3">
						<div class="col-md-12 text-center">
							<h2>Edita tu proyecto</h2>
						</div>
					</div>
          <form action="/user/proyects/{{proyect._id}}" method="POST">
            <div class="form-group">
              <label for="formGroupExampleInput">Título del proyecto</label>
                <input name="title" type="text" class="form-control" id="formGroupExampleInput" value="{{proyect.title}}" required> 
            </div>
            <div class="form-group">
               <label for="description">Descripción del proyecto</label>
                 <textarea name= "description" class="form-control" id="description" rows="5"></textarea>
            </div>
            <div class="form-group">
               <label for="exampleFormControlSelect1">¿En donde se entregará el proyecto?</label>
            <select name="zone" class="form-control" id="exampleFormControlSelect1">
               <option value="tlalpan">Tlalpan</option>
               <option value="azcapotzalco">Azcapotzalco</option>
               <option value="carranza">Venustiano Carranza</option>
               <option value="iztapalapa">Iztapalapa</option>
               <option value="iztacalco">Iztacalco</option>
               <option value="mhidalgo">Miguel Hidalgo</option>
               <option value="mcontreras">Magdalena Contreras</option>
               <option value="coyoacan">Coyoacán</option>
               <option value="malta">Milpa Alta</option>
               <option value="tlahuac">Tláhuac</option>
               <option value="bjuarez">Benito Juárez</option>
               <option value="cmorelos">Cuajimalpa de Morelos</option>
               <option value="gmadero">Gustavo A. Madero</option>
               <option value="cuauhtemoc">Cuauhtémoc</option>
               <option value="aobregon">Álvaro Obregón</option>
               <option value="xochimilco">Xochimilco</option>
            </select>
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">¿En qué categoría entra tu proyecto?</label>
                <select name="category" class="form-control" id="exampleFormControlSelect1">
                  <option value="pintura">Pintura</option>
                  <option value="plomeria">Plomería</option>
                  <option value="electricista">Electricista</option>
                  <option value="fumigacion">Fumigación</option>
                  <option value="albanileria">Albañilería</option>
                  <option value="impermea">Impermeabilización</option>
                  <option value="carpinteria">Carpintería</option>
                  <option value="jardineria">Jardinería</option>
                  <option value="herreria">Herrería</option>
                  <option value="ldomestica">Limpieza doméstica</option>
                  <option value="lavanderia">Lavandería</option>
                  <option value="lblanca">Reparación de línea blanca</option>
                  <option value="relectro">Reparación de electrodomésticos</option>
                  <option value="scocina">Servicio de cocina</option>
                 </select>
             </div>
             <div class="modal-footer">
                <a href="/user/proyects/{{proyect._id}}/delete" class="btn btn-danger " role="button" aria-pressed="true">Eliminar</a>
                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            </div>        
          </form>
          </div>
		 	  </div>
      </div>
	 </div>
</section>


<script>
  const description = () => {
    let text = document.getElementById("description");
    text.innerText = "{{proyect.description}}";
  };

  const getZone = () => {
    let zona = document.getElementsByName("zone");
    let replace = (zona[0]);
    
    for (let i = 0; i < zona[0].length; i++) {
      let idx = zona[0][i].value

      if (idx === "{{proyect.zone}}") {
        replace.value = idx;
      }
    }
  };

  const getCategory = () => {
    let category = document.getElementsByName("category");
    let replace = (category[0]);
    
    for (let i = 0; i < category[0].length; i++) {
      let idx = category[0][i].value

      if (idx === "{{proyect.category}}") {
        replace.value = idx;
      }
    }
  };

  window.onload = () => {
    description();
    getZone();
    getCategory();
  }
</script>
